@use '../../../styles/typography/headline.scss' as headline;
@use '../../../styles/typography/body.scss' as body;

.container {
  padding: 10px;
  border-radius: 12px;
  background-color: var(--whiteColor);
  border: none;
  outline: none;
  text-align: left;
  width: 100%;
}

.image {
  width: 100%;
  height: 186px;
  border-radius: 12px;
  object-fit: cover;
}

.content {
  margin: 16px 0;
}

.title {
  @include headline.headline5;

  margin-bottom: 16px;
  color: var(--black100Color);
}

.subtitle {
  @include body.body2;

  color: var(--black75Color);
}