@use '../../../styles/typography/headline.scss' as headline;

.text {
  @include headline.headline4;

  position: relative;
  padding-left: 10px;

  &::before {
    position: absolute;
    top: 50%;
    left: 0;
    width: 4px;
    height: 10px;
    border-radius: 12px;
    background-color: var(--primary100Color);
    content: '';
    transform: translateY(-50%);
  }
}