@use '../../../styles/typography/subtitle.scss' as subtitle;
@use '../../../styles/typography/body.scss' as body;

.container {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  padding: 13px 16px;
  border-radius: 12px;
  background-color: var(--grayColor);
  gap: 10px;
}

.image {
  width: 44px;
  height: 44px;
  border-radius: 12px;
  object-fit: cover;
}

.contentContainer {
  display: flex;
  gap: 10px;
}

.texts {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.title {
  @include subtitle.subtitle2;

  color: var(--black100Color);
}

.subtitle {
  @include body.body3;

  color: var(--black75Color);
}