@mixin body1 {
  font-family: var(--font);
  font-size: 16px;
  letter-spacing: 0.5px;
  line-height: 1.5;
}

@mixin body2 {
  font-family: var(--font);
  font-size: 14px;
  letter-spacing: 0.25px;
  line-height: 1.42;
}

@mixin body3 {
  font-family: var(--font);
  font-size: 12px;
  letter-spacing: 0.25px;
  line-height: 1.5;
}