@use '../../../styles/typography/headline.scss' as headline;

.container {
  position: absolute;
  top: 0;
  left: -100vh;
  width: 100%;
  height: 100%;
  padding: 15px 15px 15px 20px;
  background-color: var(--whiteColor);
  transition: left 0.5s ease-in-out;

  &.open {
    left: 0;
    transition: left 0.5s ease-in-out;
  }
}

.topContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 20px;
}

.logo {
  background: none;
  color: var(--secondary100Color);
  font-size: 22px;
  font-weight: 700;
}


.categoriesContainer {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  padding: 14px 15px;
  border-radius: 12px;
  background-color: var(--grayColor);
}

.categoriesTitle {
  @include headline.headline5;
}

.pages {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
  gap: 30px;
}

.pageLink {
  @include headline.headline5;

  color: var(--black100Color);
}